html{
    font-family: "Roboto", sans-serif;
}

#titulo{
    padding: 10px;
    background-color: lightyellow;
    font-size: 32pt;
    color: red;
    border: royalblue;
}

#primeira_divisao{
    background-color: lightgrey;
    max-width: 50vw;
    min-height: 3em;
}

#segunda_divisao{
    background-color: rgb(42, 165, 42);

}