body{
    display: flex;
    justify-content: center;
}
.boxDetalhes{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    margin: 25px;
    font-family: sans-serif;
    width: 80%;
    padding: 15px;
    background-color: rgb(79, 78, 78);
    color: white;
    line-height: 0;
}

.boxDetalhes img{
    width: 150px;
    border: 2px white solid;
}

button{
    padding: 10px;
    border-radius: 50px;
    border: none;
    box-shadow: 1px 1px 3px 1px black;
    width: 250px;
}

@media screen and (min-width: 768px) {
    .boxDetalhes{
        margin-left: 25%;
        margin-right: 25%;
    }
}